.nav{
    display: flex;
background-color: #000000;
color:aliceblue;
padding: 5px;
 justify-content:space-between; 
}
.nav-links ,a , ul  {
    
    display: flex; 
    align-items:center;
    color:aliceblue;
    list-style: none;
    text-decoration: none;

   margin-right: 20px;
}
.btn{
    background-color: #17A2B8;
    color:aliceblue;
}
.nav-title{
   
    margin-left: 20px;
}
.active{
    font-family:Roboto-black ;
    font-style:normal;

}